.h-img{    
    position: absolute;
    width: 100%;
    height:100%;
        
}
img {
    overflow-clip-margin: content-box;
    width:100%;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.arrow{
    height:114px;
    width:13px;
    /* background-color: red; */
    position: absolute;
    top: 52%;
    left: 48%;
    /* -webkit-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
}
/* div{
    display:block;
} */
body {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    height: 600vh;
    color: #23303e;
    /* overflow: hidden; */
}
.header{
    position: relative;
    top: 15rem;
    left: 51%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 8px;
    word-spacing: 11px;
    text-align:center;
    word-spacing:12px;
    letter-spacing:8px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color:white;
}
.navhead{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 3rem 2rem;
    display: -webkit-box;
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: justify;
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    font-size: 16px;
    
}
.sl{
    width:150px;
    height:40px;
}
.header__nav .tabs {
    margin-top: -0.5rem;
    width: 419px;
    height:48px;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    -webkit-box-pack: justify;
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    -webkit-box-align: center;
    /* -ms-flex-align: center; */
    align-items: center;
}
.hide-mobile{
    width:35%;
    display:flex;
    justify-content:space-between;
    align-items:center;    
}
.about{
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.services{
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.projects{
    font-family: "Barlow", sans-serif;
    line-height: 1.6;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.contact-btn{
    border: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 100px;
    font-family: "Fraunces", serif;
    display: inline-block;
    cursor: pointer;
}