.container
{
  /* margin:150px auto; */
    /* width:50%; */
    padding-top:31px;
    display: flex;
    justify-content: space-between;
}
img
{
    float:right;
    width:675px;
    height: 303px;
    padding-inline-end: 0 10px 0 0;
}
.text
{
    text-align: left;
    padding-left: 100px;
}